<div class="container">
    <div class="div-titulo">
        <h1>
            Medidor de Carga Tributária
        </h1>
        <h2>
           .: Aplicação Fiscal para Controle :.
        </h2>
    </div>
    <div class="div-iframes">
        <div class="ui-g-12 ui-fluid">
            <iframe id="rmcontador" src="https://impostometro.com.br/widget/contador/" width="728" height="125" scrolling="no" frameborder="0"></iframe>
        </div>
        <div class="ui-g-12 ui-fluid">
            <iframe id="rmcontador" src="https://impostometro.com.br/widget/contador/mt" width="728" height="125" scrolling="no" frameborder="0"></iframe>
        </div>
        <div class="ui-g-12 ui-fluid">
            <iframe id="rmcontador" src="https://impostometro.com.br/widget/contador/ms" width="728" height="125" scrolling="no" frameborder="0"></iframe>
        </div>
        
    </div>
    <div class="ui-g-12 ui-fluid">
        <div style="padding-left: 130px; padding-top: 55px;" class="ui-g-4 ui-fluid">
            <img src="../assets/tvca.png">
        </div>
        <div style="padding-left: 17px;" class="ui-g-4 ui-fluid">
            <img src="../assets/pp.png">
        </div>
        <div style="padding-right: 10px;" class="ui-g-4 ui-fluid">
            <img src="../assets/tvmo.png">
        </div>
    </div>
</div>